*.pyc
.idea/
*.code-workspace

# Unit test / coverage reports
.tox

# Distribution / packaging
*.egg-info/
dist/
build/

# Environments
hugo
node_modules

# Built site
public/

# vale packages
docs/_vale/Microsoft/
docs/_vale/write-good/
