<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ .Title }} - Whatcom Murder Mystery</title>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">

<!-- Local CSS -->
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="header">
    <img src="/images/fan_motif.svg" class="fan left" alt="Left Fan">
    <div>
      <h2>Early Twentieth Century</h2>
      <h1><a href="/">Whatcom Murder Mystery</a></h1>
    </div>
    <img src="/images/fan_motif.svg" class="fan right" alt="Right Fan">
  </div>
  <div class="body">
    <h2><a href="/characters/">{{ .Title }}</a></h2>
    <h3 class="subtitle">{{ .Params.subtitle }}</h3>
    
    {{ .Content }}

    {{ if .Params.resources }}
    <h3>More resources</h3>
    <ul>
      {{ range .Params.resources }}
      <li><a href="{{ .url }}" rel="nofollow">{{ .url }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div class="footer"></div>
</body>
</html>