<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} - Whatcom Murder Mystery</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">

  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="m-0 p-0 w-a4 h-a4 font-garamond text-dark">
  <div class="w-full bg-vintage-cream flex items-center justify-center relative p-2rem header-clip mb-0_4cm">
    <img src="/images/fan_motif.svg" class="absolute w-fan-sm max-h-fan-sm left-0 top-1_2 fan-transform-left" alt="Left Fan">
    <div>
      <h2 class="font-deco text-11pt text-center m-0_5cm tracking-1pt mt-0">Early Twentieth Century</h2>
      <h1 class="font-cinzel text-26pt leading-27pt max-w-18rem m-0 z-2 text-center font-500"><a href="/" class="no-underline text-dark">Whatcom Murder Mystery</a></h1>
    </div>
    <img src="/images/fan_motif.svg" class="absolute w-fan-sm max-h-fan-sm right-0 fan-transform-right" alt="Right Fan">
  </div>
  <div class="w-full max-w-content px-2cm">
    {{ $data := index .Site.Data.plotlines .Params.plot_key }}

    <h2 class="font-deco text-24pt tracking-0_2rem text-center mb-1_5rem mt-2rem">{{ $data.title }}</h2>

    <p>{{ $data.description }}</p>

    <ul>
        <li><strong>Duration</strong>: {{ $data.duration }}</li>
        <li><strong>Setting</strong>: {{ $data.setting }}</li>
        <li><strong>Set</strong>: {{ $data.set }}</li>
        <li><strong>Location</strong>: {{ $data.location }}</li>
        <li><strong>Time</strong>: {{ $data.time }}</li>
        <li><strong>Ages</strong>: {{ $data.ages }}</li>
        <li><strong>Characters</strong>: {{ $data.characters.total }} total ({{ $data.characters.murderer }} murderer, {{ $data.characters.suspects }} suspects)</li>
    </ul>

    <h3 class="font-deco text-18pt tracking-0_2rem mb-1rem mt-2rem">Character List</h3>
    <ul class="list-none p-0">
      {{ range $key, $character := .Site.Data.characters }}
        {{ if in $data.characters.list $key }}
        <li class="mt-1rem mb-1rem p-1rem bg-vintage-cream rounded-5px">
          <strong class="no-underline text-black text-12pt font-700"><a href="/info/characters/{{ $key }}/" class="no-underline text-black hover:underline">{{ $character.title }}</a></strong>
        </li>
        {{ end }}
      {{ end }}
    </ul>

    {{ .Content }}
  </div>
</body>
</html>